@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-shop-light-pink: #fcf0e4;
  --color-dark-green: #063c28;
  --color-btn-dark-green: #063D29;
  --color-shop-light-bg: #f6f6f6;
  --color-shop-light-green: #3b9c3c;
  --color-shop-orange: #fb6c08;
  --color-dark: #151515;
  --color-light: #52525b;
  --color-light-orange: #fca99b;
  --color-light-blue: #7688DB;
  --color-dark-blue: #6c7fd8;
  --color-dark-text: #686e7d;
  --color-lightBg: #F8F8FB;
  --color-dark-red: #F02757;
  --color-ligh-text: #ababab;
  --color-light-green: #93D991;
  --color-productBg: #f1f3f8;
}